<!-- Header  -->
<div class="row">
    <div class="col-md-3">

        <% if (status.notificationsCount > 0) { %>
        <span class="m-badge m-badge--danger" style="position: absolute;margin-top: 2px;"><%= status.notificationsCount %></span>
        <% } %>

        <%= typeImage %>
    </div>
    <div class="col-md-9 text-left" style="word-wrap:break-word">
        <h6 class="m--font-boldest m--font-transform-u"><%= name %></h6>
        <% if (geoinfo.city !== '-' && geoinfo.country !== '-') { %>
        <div><span class="la la-map-marker"></span> <%= geoinfo.city %>, <%= geoinfo.country %></div>
        <% } %>
        <div><span class="la la-clock-o"></span> <%= moment().utcOffset(parseInt(geoinfo.utcOffset)).format("HH:mm") %> (UTC Offset <%= geoinfo.utcOffset %>)</div>
    </div>
    <hr class="col-xs-12" />
</div>


<p>
    <div class="container">
        <div class="row" style="max-height:150px;overflow-y:auto">
            <% _.each(status.applications, function(application){ %>

            <div class="col-sm-6 text-center mt-3">
                <a target="<%= application.name %>" href="<%= application.link %>" title="<%= application.name %>" style="text-decoration:none">

                    <% if (application.name == 'dashboard') { %>
                    <i class="la fa-4x la-dashboard"></i>
                    <% }  else if (application.name == 'report') { %>
                    <i class="la fa-4x la-pie-chart"></i>
                    <% }  else if (application.name == 'statistics') { %>
                    <i class="fas fa-chart-line fa-4x fa-disabled"></i>
                    <% }  else if (application.name == 'machineviews') { %>
                    <i class="la fa-4x la-image"></i>
                    <% } else { %>
                    <i class="la fa-4x la-question-circle"></i>
                    <% } %>
                </a>
                <div class="m--font-transform-u" style="font-size:10px">
                    <%= application.name %>
                </div>
            </div>

            <% }) %>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <!-- Details Button -->
                <div class="mt-3">
                    <a href="/Apps/Worldmap/Machines/<%= id %>" class="btn m-btn--pill btn-brand btn-sm">Details</a>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 text-left">
                <% if (status.onlinestate.state === "true") { %>
                <i class="fas fa-plug m--font-success"></i>
                <% } %>
                <% if (status.onlinestate.state === "false") { %>
                <i class="fas fa-plug m--font-danger"></i>
                <% } %>
                <% if (status.onlinestate.state === "unknown") { %>
                <i class="fas fa-plug m--font-metal"></i>
                <% } %>

                <% if (status.onlinestate.lastUpdate) { %>
                <%= status.onlinestate.lastUpdate %>
                <% } else { %>
                <span>Date of last update is unknown</span>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-left">
                <% if (status.datastate.state === 0) { %>
                <i class="fa fa-circle" style="color:#25D366;font-size:12px"></i>
                <% } %>
                <% if (status.datastate.state === 1) { %>
                <i class="fa fa-circle" style="color:#20AB44;font-size:12px"></i>
                <% } %>
                <% if (status.datastate.state === 2) { %>
                <i class="fa fa-circle" style="color:#1A8120;font-size:12px"></i>
                <% } %>
                <% if (status.datastate.state === 3) { %>
                <i class="fa fa-circle" style="color:#6B6B6B;font-size:12px"></i>
                <% } %>

                <% if (status.datastate.lastUpdate) { %>
                <%= status.datastate.lastUpdate %>
                <% } else { %>
                <span>Date of last update is unknown</span>
                <% } %>
            </div>
        </div>
    </div>
</p>
